# Final Project
## Map visualisation

In [1]:
# Import

# data set
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

# visualisation
import folium
from folium.plugins import MarkerCluster

### Importing the merged dataset

In [2]:
dataset = pd.read_csv(
    'April_to_June_3_months.csv',
    parse_dates=['timestamp'],
    index_col="timestamp"
)

In [3]:
dataset = dataset.drop(["index",'is_holiday','is_weekend'], axis = 1)
dataset = dataset.dropna(axis=0, how='any')
dataset['exact_date'] = dataset.index.astype(str)
dataset

,In,Out,Station Id,Total,avg_temp,avg_temp_feel,avg_humidity,avg_windSpeed,date,longitude,latitude,exact_date
timestamp,,,,,,,,,,,,
2016-04-01,36,22,40,14.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.075579,51.5213,2016-04-01
2016-04-01,18,31,41,-13.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.083911,51.5200,2016-04-01
2016-04-01,39,39,42,0.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.093904,51.5310,2016-04-01
2016-04-01,20,37,43,-17.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.157184,51.5203,2016-04-01
2016-04-01,24,38,44,-14.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.144165,51.5107,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-07-01,38,10,720,28.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.205279,51.4872,2016-07-01
2016-07-01,20,63,721,-43.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.026263,51.5360,2016-07-01
2016-07-01,23,17,722,6.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.058632,51.5246,2016-07-01
2016-07-01,41,40,723,1.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.190346,51.4682,2016-07-01
2016-07-01,17,16,724,1.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.184806,51.4580,2016-07-01

In [4]:
location = pd.read_csv("Cycle hire docking stations.csv")

### Datasets for each stations

In [5]:
obj = dataset.groupby('Station Id')

In [6]:
obj.get_group(1)

,In,Out,Station Id,Total,avg_temp,avg_temp_feel,avg_humidity,avg_windSpeed,date,longitude,latitude,exact_date
timestamp,,,,,,,,,,,,
2016-04-01,11,14,1,-3.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.109971,51.5292,2016-04-01
2016-04-02,15,16,1,-1.0,10.729167,9.458333,62.125000,14.833333,2.0,-0.109971,51.5292,2016-04-02
2016-04-03,14,18,1,-4.0,11.562500,11.041667,77.541667,11.312500,3.0,-0.109971,51.5292,2016-04-03
2016-04-04,12,54,1,-42.0,11.083333,10.500000,77.520833,13.583333,4.0,-0.109971,51.5292,2016-04-04
2016-04-05,13,112,1,-99.0,11.583333,10.916667,65.708333,14.916667,5.0,-0.109971,51.5292,2016-04-05
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-27,25,39,1,-14.0,18.062500,18.062500,68.958333,16.041667,27.0,-0.109971,51.5292,2016-06-27
2016-06-28,18,37,1,-19.0,16.604167,16.604167,63.041667,12.270833,28.0,-0.109971,51.5292,2016-06-28
2016-06-29,23,50,1,-27.0,15.437500,15.437500,78.270833,23.020833,29.0,-0.109971,51.5292,2016-06-29
2016-06-30,22,71,1,-49.0,17.250000,17.250000,74.062500,18.416667,30.0,-0.109971,51.5292,2016-06-30
2016-07-01,11,43,1,-32.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.109971,51.5292,2016-07-01

## Visualisation on map

In [7]:
# add datasets to list

df_map = []
dropped = [35,79,80,137,179,198,205,237,241,259,283,285,304,342,346,369,385,391,406,407,
           413,414,415,416,417,418,422,429,434,438,439,493,497,
           502,525,555,567,575,582,585,791,797,798,799,802]
    
for i in range(1, len(location['Station.Id'])):
    if i in dropped:
        continue  
    df_map.append(obj.get_group(i))

num_station = len(df_map[0])
for i in range(0, num_station):    
    num_station = len(df_map[i])
    df_map[i] = df_map[i][['In','Out','Total','Station Id','date','longitude','latitude']]  
    df_map[i] = df_map[i].drop_duplicates()
    df_map[i]['exact_date'] = df_map[i].index.astype(str)
    df_map[i]['Total'] = df_map[i]['Total'].astype(int)

In [8]:
df_map[0]

            In  Out  Total  Station Id  date  longitude  latitude  exact_date
timestamp
2016-04-01  11   14     -3           1   1.0  -0.109971   51.5292  2016-04-01
2016-04-02  15   16     -1           1   2.0  -0.109971   51.5292  2016-04-02
2016-04-03  14   18     -4           1   3.0  -0.109971   51.5292  2016-04-03
2016-04-04  12   54    -42           1   4.0  -0.109971   51.5292  2016-04-04
2016-04-05  13  112    -99           1   5.0  -0.109971   51.5292  2016-04-05
...         ..  ...    ...         ...   ...        ...       ...         ...
2016-06-27  25   39    -14           1  27.0  -0.109971   51.5292  2016-06-27
2016-06-28  18   37    -19           1  28.0  -0.109971   51.5292  2016-06-28
2016-06-29  23   50    -27           1  29.0  -0.109971   51.5292  2016-06-29
2016-06-30  22   71    -49           1  30.0  -0.109971   51.5292  2016-06-30
2016-07-01  11   43    -32           1   1.0  -0.109971   51.5292  2016-07-01

[90 rows x 8 columns]

In [9]:
#Function to change colors

def color_change(c):
    if(c < 0):
        return('red')
    elif(0 <= c < 30):
        return('orange')
    else:
        return('green')

# Circle Marker

In [10]:
%time

# Create base map
London = [51.506949, -0.122876]

map = folium.Map(location = London,
                zoom_start = 12, 
                tiles = "CartoDB positron")
    
for grp_name, df in dataset.groupby('exact_date'):
    feature_group = folium.FeatureGroup(grp_name, show = False)
    for row in df.itertuples():
        _cap = row.Total
        _lat = row.latitude
        _lon = row.longitude
        folium.CircleMarker(location = [_lat, _lon], 
                            radius = 9, 
                            popup = "("+ str(_cap) +")" + "  " + str(grp_name),
                            fill_color = color_change(_cap), 
                            color = "gray", 
                            fill_opacity = 0.9).add_to(feature_group)
        
    feature_group.add_to(map)
folium.LayerControl().add_to(map)

CPU times: user 2 Âµs, sys: 1 Âµs, total: 3 Âµs
Wall time: 6.91 Âµs

In [11]:
# map for each date, no clustering, just circle marker

#map

# Marker cluster

## Attempt with station based structure

In [12]:
# Create base map

%time

locations = []
whole_location = []
num_station = len(df_map[0])

for i in range(0,num_station):
    # make latitude and longitude into a list of tuples
    loc = df_map[i][['latitude', 'longitude']].copy()
    locations = list(loc.to_records(index = False))
    whole_location.append(locations[1]) # since all latitude and longitude in df_map[i] are the same
    London = [51.506949, -0.122876]
    map = folium.Map(location = London,
                     zoom_start = 12, 
                     tiles = "CartoDB positron")
    marker_cluster = MarkerCluster(whole_location).add_to(map)
    
num_station = len(df_map[0])

for i in range(1,num_station):
    num_station = len(df_map[i])
    cap = df_map[i]['Total']
    date = df_map[i].index # timestamp
    lat = df_map[i]['latitude']
    lon = df_map[i]['longitude'] 
    
    # Plot markers
    for _lat, _lon, _cap, _date in zip(lat, lon, cap, date):
        folium.CircleMarker(location = [_lat, _lon], 
                            radius = 9, 
                            popup = "("+ str(_cap) +")" + "  " + str(_date),
                            fill_color = color_change(_cap), 
                            color = "gray", 
                            fill_opacity = 0.9).add_to(marker_cluster)

CPU times: user 2 Âµs, sys: 0 ns, total: 2 Âµs
Wall time: 5.01 Âµs

In [13]:
# map with station based, circle marker and marker cluster

#map

## Attempt with date based structure

In [14]:
dataset

,In,Out,Station Id,Total,avg_temp,avg_temp_feel,avg_humidity,avg_windSpeed,date,longitude,latitude,exact_date
timestamp,,,,,,,,,,,,
2016-04-01,36,22,40,14.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.075579,51.5213,2016-04-01
2016-04-01,18,31,41,-13.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.083911,51.5200,2016-04-01
2016-04-01,39,39,42,0.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.093904,51.5310,2016-04-01
2016-04-01,20,37,43,-17.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.157184,51.5203,2016-04-01
2016-04-01,24,38,44,-14.0,8.520833,7.895833,66.500000,11.166667,1.0,-0.144165,51.5107,2016-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-07-01,38,10,720,28.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.205279,51.4872,2016-07-01
2016-07-01,20,63,721,-43.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.026263,51.5360,2016-07-01
2016-07-01,23,17,722,6.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.058632,51.5246,2016-07-01
2016-07-01,41,40,723,1.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.190346,51.4682,2016-07-01
2016-07-01,17,16,724,1.0,16.770833,16.770833,73.291667,22.270833,1.0,-0.184806,51.4580,2016-07-01

In [15]:
dataset = dataset[['In','Out','Total','Station Id','date','longitude','latitude']]  
dataset

            In  Out  Total  Station Id  date  longitude  latitude
timestamp
2016-04-01  36   22   14.0          40   1.0  -0.075579   51.5213
2016-04-01  18   31  -13.0          41   1.0  -0.083911   51.5200
2016-04-01  39   39    0.0          42   1.0  -0.093904   51.5310
2016-04-01  20   37  -17.0          43   1.0  -0.157184   51.5203
2016-04-01  24   38  -14.0          44   1.0  -0.144165   51.5107
...         ..  ...    ...         ...   ...        ...       ...
2016-07-01  38   10   28.0         720   1.0  -0.205279   51.4872
2016-07-01  20   63  -43.0         721   1.0  -0.026263   51.5360
2016-07-01  23   17    6.0         722   1.0  -0.058632   51.5246
2016-07-01  41   40    1.0         723   1.0  -0.190346   51.4682
2016-07-01  17   16    1.0         724   1.0  -0.184806   51.4580

[69148 rows x 7 columns]

In [16]:
dataset['exact_date'] = dataset.index.astype(str)

/var/folders/2c/q0jzg_j92xjbxq26p0b0hmbh0000gn/T/ipykernel_5507/2520981340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['exact_date'] = dataset.index.astype(str)

In [17]:
# only include locations that exist after data clearance

num_station = len(df_map[0])

for i in range(0,num_station):
    # make latitude and longitude into a list of tuples
    num_station = len(df_map[i])
    loc = df_map[i][['latitude', 'longitude']].copy()
    locations = list(loc.to_records(index = False))

In [18]:
# obtain all the locations for the station 

df_location = pd.DataFrame(locations)
df_location.columns = ['location']
df_location['location'] = df_location['location'].drop_duplicates()
df_location = df_location.dropna(axis=0, how ='any')

In [19]:
loc = df_location['location'].copy()
all_stations = loc.tolist()

In [20]:
%time

# Create base map

London = [51.506949, -0.122876]

map = folium.Map(location = London,
                zoom_start = 12, 
                tiles = "CartoDB positron")
    
for grp_name, df in dataset.groupby('exact_date'):
    feature_group = folium.FeatureGroup(grp_name, show = False)
    make_cluster = MarkerCluster(all_stations).add_to(feature_group)
    for row in df.itertuples():
        _cap = row.Total
        _lat = row.latitude
        _lon = row.longitude
        folium.CircleMarker(location = [_lat, _lon], 
                            radius = 9, 
                            popup = "("+ str(_cap) +")" + "  " + str(grp_name),
                            fill_color = color_change(_cap), 
                            color = "gray", 
                            fill_opacity = 0.9).add_to(make_cluster)
        
    feature_group.add_to(map)
folium.LayerControl().add_to(map)

CPU times: user 3 Âµs, sys: 1 Âµs, total: 4 Âµs
Wall time: 5.01 Âµs

In [21]:
# map with date based, circle marker and marker cluster

#map

In [22]:
# save the map as html file

#map.save('map_station_cluster_1.html')

- https://towardsdatascience.com/visualizing-bike-mobility-in-london-using-interactive-maps-for-absolute-beginners-3b9f55ccb59
- https://www.analyticsvidhya.com/blog/2020/06/guide-geospatial-analysis-folium-python/